
<section id="contact" class="one dark cover">
    <div class="container">
        <header>
            <h2>Contact</h2>
        </header>
        <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>

        <address>
            OUR OFFICE:<br />
            Societe Generale Global Solution Centre Pvt. Ltd.<br />
            10th floor, Voyager Building, ITPB, Whitefield Road,<br />
            Bangalore, India - 560 066
        </address>
        <address>
            CONTACT INFO:<br />
            Telephone1: <a href="tel:+918028037000">+91-80-2803 7000</a><br />
            Telephone2: <a href="tel:+918028095000">+91-80-2809 5000</a><br />
            Fax: +91-80-30725100
        </address>

    </div>
</section>
