<section id="about" class="one dark cover">
    <div class="container">

        <header>
            <h2>Survey</h2>
        </header>

        <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>

        <p>
            Please share your experience
        </p>
        <div class="row">
            <div class="6u 12u$(mobile)">
                On time: <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating,info)" info="OnTime"></div>
            </div>
            <div class="6u 12u$(mobile)">
                Driving: <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating, info)" info="Driving"></div>
            </div>
            <div class="6u 12u$(mobile)">
                Behaviour: <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating, info)" info="Behaviour"></div>
            </div>
            <div class="6u 12u$(mobile)">
                Hygenic: <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating, info)" info="Hygenic"></div>
            </div>
            <div class="6u 12u$(mobile)">
                <button id="btnSubmit" type="submit" class="btn btn-primary" ng-click="Submit()">Submit</button>
            </div>
        </div>

    </div>
</section>
