<!-- Intro -->
<section id="top" class="one dark cover">
    <div class="container">

        <header>
            <h2 class="alt">
                Welcome to <strong>Office On Time</strong>, a <a href="http://www.socgen.com">socgen</a> mobile<br />
                app developed by <a href="#">in house talent</a>.
            </h2>
            <p>
                One place to get all updates about your service cab.<br />
                Happy to receive your valuable feedback on your cab service.
            </p>
        </header>

        <footer>
            <a ng-href="{{NavigationLink}}" class="button scrolly">{{NavigationText}}</a>
        </footer>

    </div>
</section>