
<section class="one dark cover">
    <div class="container">
        <div class="row">
            <div class="6u 12u$(mobile)">
                <input id="txtFirstName" type="text" ng-model="User.FirstName" placeholder="First Name" />
            </div>
            <div class="6u 12u$(mobile)">
                <input id="txtLastName" type="text" ng-model="User.LastName" placeholder="Last Name" />
            </div>
            <div class="6u 12u$(mobile)">
                <input id="txtEmpId" type="text" ng-model="User.EmpId" placeholder="Emp Id" />
            </div>
            <div class="6u 12u$(mobile)">
                <input id="txtEmail" type="email" ng-model="User.Email" placeholder="Email Address" />
            </div>
            <div class="6u 12u$(mobile)">
                <input id="txtMobile" type="number" ng-model="User.Mobile" placeholder="Mobile Number" />
            </div>

            <div class="12u$">
                <input id="btnSubmit" type="button" value="Submit" ng-click="Register()" />
            </div>
        </div>
    </div>
</section>
